<!DOCTYPE html>
<html lang="ja">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>To Do List Sample App</title>
    <link rel="stylesheet" type="text/css" href="{{url_for('static', filename='styles.css')}}">
</head>
<body>
   <h1>ToDo list</h1> 
    {% if not todolist %}
    <p> You can register something to do. </p> 
    {% else %}
    <p> Your todo list </p>
    {% endif %}
    <ul>
    {% for item in todolist %}
        <li {%if item.done %}style="color:lightgray"{% endif %}>
        {{ item.titel }}
            <a href="/updatedone/{{ item.item_id }}">[done!]</a>
            <a href="/deleteitem/{{ item.item_id }}">[delete]</a>
        </li>
    {% endfor %}
    </ul>

    <form action="/additem" method="post" name="myform">
        <p>
            <input type="text" name="title">
        </p>
        <a href="javascript:document.myform.submit()" class="button">submit</a>
        <a href="/deletealldoneitems" class="button">delete all done items</a>
    </form>
</body>
</html>
